<footer class="page-footer">
         <div class="container">
           <div class="row">
             <div class="col s12 center">
               <h1 class="lightblue">Contact Me</h1>
             </div>
           </div>
           <div class="row">
             <div class="col s4 center">
               <a href="mailto:goldenpummel@live.com"><i class="iconHover lightblue medium material-icons">email</i></a>
               <p>goldenpummel@live.com</p>
             </div>
             <div class="col s4 center">
               <a href="https://www.linkedin.com/in/josephpung/"><i class="iconHover lightblue fa fa-linkedin-square fa-4x"></i></a>
               <p>https://www.linkedin.com/in/josephpung/</p>
             </div>
             <div class="col s4 center">
               <a href="https://github.com/josephpung"><i class="iconHover lightblue fa fa-github fa-4x"></i></a>
               <p>https://github.com/josephpung</p>
             </div>
           </div>
         </div>
         <div class="footer-copyright">
           <div class="container">
           © 2017 Joseph Pung
           </div>
         </div>
       </footer>
