{{!-- <img src="/assets/images/profile.jpg" height="200" width="200" class="responsive-img center"> --}}

<div class="wrap">
  <div class="cube">
    <div class="frontFace">
      {{!-- <br><br>
      <i class="fa fa-css3 fa-5x lightblue" aria-hidden="true"></i> --}}
    </div>
    <div class="backFace">
      {{!-- <br><br>
      <i class="fa fa-github fa-5x lightblue" aria-hidden="true"></i> --}}
    </div>
    <div class="topFace">
      {{!-- <br><br>
      <i class="fa fa-html5 fa-5x lightblue" aria-hidden="true"></i> --}}
    </div>
    <div class="bottomFace">
      {{!-- <br><br>
      <i class="fa fa-stack-overflow fa-5x lightblue" aria-hidden="true"></i> --}}
    </div>
    <div class="leftFace">
      {{!-- <br><br>
      <i class="fa fa-slack fa-5x lightblue" aria-hidden="true"></i> --}}
    </div>
    <div class="rightFace">
      {{!-- <br><br>
      <i class="fa fa-cc-stripe fa-5x lightblue" aria-hidden="true"></i> --}}
    </div>
  </div>
</div>
<br />
<br />
<br />
<br />
<h1 class="lightblue" id="typewriter"></h1>
<br />
<br />
<div class="row">
  <div class="col s4">
    <a href="mailto:goldenpummel@live.com"><i class="iconHover lightblue medium material-icons">email</i></a>
  </div>
  <div class="col s4">
    <a href="https://www.linkedin.com/in/josephpung/"><i class="iconHover lightblue fa fa-linkedin-square fa-4x"></i></a>
  </div>
  <div class="col s4">
    <a href="https://github.com/josephpung"><i class="iconHover lightblue fa fa-github fa-4x"></i></a>
  </div>

</div>
