{{!-- <img src="/assets/images/profile.jpg" height="200" width="200" class="responsive-img center"> --}}

<div class="wrap">
  <div class="cube">
    <div class="frontFace">
    </div>
    <div class="backFace">
    </div>
    <div class="topFace">
    </div>
    <div class="bottomFace">
    </div>
    <div class="leftFace">
    </div>
    <div class="rightFace">
    </div>
  </div>
</div>
<br />
<br />
<br />
<br />
<h1 class="lightblue" id="typewriter"></h1>
<br />
<br />
<div class="row">
  <div class="col s4">
    <a href="mailto:goldenpummel@live.com"><i class="iconHover lightblue medium material-icons">email</i></a>
  </div>
  <div class="col s4">
    <a href="https://www.linkedin.com/in/josephpung/"><i class="iconHover lightblue fa fa-linkedin-square fa-4x"></i></a>
  </div>
  <div class="col s4">
    <a href="https://github.com/josephpung"><i class="iconHover lightblue fa fa-github fa-4x"></i></a>
  </div>

</div>
