<div class="navbar-fixed">
  <nav class="transparent z-depth-0">
    <div class="nav-wrapper">
      <div class="row">
        <div class="col s12 ">
          <ul class="right hide-on-med-and-down">
            <li><a href="https://codepen.io/collection/nbBqgY/" target="_blank">Contact Me</a></li>
            <li><a href="#one" >One</a></li>
            <li><a href="https://codepen.io/collection/nbBqgY/" target="_blank">JavaScript</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
