<h1 class="center lightblue"><i class="fa fa-spinner fa-2x fa-spin"></i> Portfolio</h1>
<div class="row container">
  <div class="card small col l3 m6 s12 transparent">
    <div class="card-image">
      <img class="activator" src="/assets/images/proj1.png">
    </div>
    <div class="card-content">
      <span class="card-title activator lightblue">Maplestory XII<i class="fa fa-info-circle right" aria-hidden="true"></i></span>
      <p><a href="https://josephpung.github.io/project-1/" class='white-text'><i class="fa fa-external-link" aria-hidden="true"></i> Live Version</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title black-text">Description<i class="material-icons right">close</i></span>
      <p class="black-text">Game is based on Maplestory, a Mass Multiplayer Online Role Playing Game (MMORPG)</p>
      <p><a href="https://github.com/josephpung/project-1" class="black-text"><i class="fa fa-github-square" aria-hidden="true"></i></i> GitHub Page</a></p>
    </div>
  </div>

  <div class="card small col l3 m6 s12 transparent">
    <div class="card-image">
      <img class="activator" src="/assets/images/proj2.png">
    </div>
    <div class="card-content">
      <span class="card-title activator lightblue">VisCuss<i class="fa fa-info-circle right" aria-hidden="true"></i></span>
      <p><a href="https://viscuss.herokuapp.com/" class='white-text'><i class="fa fa-external-link" aria-hidden="true"></i> Live Version</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title black-text">Description<i class="material-icons right">close</i></span>
      <p class="black-text">
A virtual discussion platform for students from local polytechnics. Each course will have their own page, this allows a more accurate and specific location for students to ask and obtain relevant answers.</p>
      <p><a href="https://github.com/josephpung/project-2" class="black-text"><i class="fa fa-github-square" aria-hidden="true"></i></i> GitHub Page</a></p>
    </div>
  </div>


  <div class="card small col l3 m6 s12 transparent">
    <div class="card-image">
      <img class="activator" src="/assets/images/proj3.png">
    </div>
    <div class="card-content">
      <span class="card-title activator lightblue">FoodSpace<i class="fa fa-info-circle right" aria-hidden="true"></i></span>
      <p><a href="https://foodspace.herokuapp.com/" class='white-text'><i class="fa fa-external-link" aria-hidden="true"></i> Live Version</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title black-text">Description<i class="material-icons right">close</i></span>
      <p class="black-text">
        Find the most popular dishes in town and vote to make your best dish famous! Restaurants may also offer discounts on our app!<p>
          <a href="https://github.com/josephpung/project-3" class="black-text"><i class="fa fa-github-square" aria-hidden="true"></i></i> GitHub Page</a></p>
    </div>
  </div>

  <div class="card small col l3 m6 s12 transparent">
    <div class="card-image">
      <img class="activator" src="/assets/images/proj4.png">
    </div>
    <div class="card-content">
      <span class="card-title activator lightblue">OmniApp<i class="fa fa-info-circle right" aria-hidden="true"></i></span>
      <p><a href="https://proj4server.herokuapp.com/" class='white-text'><i class="fa fa-external-link" aria-hidden="true"></i> Live Version</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title black-text">Description<i class="material-icons right">close</i></span>
      <p class="black-text">
The service industry has not had the best in terms of technological advancements, an app to solve each problem, from queues to reservations to the traditional POS system.<br>
<br>We bring you the all-in-one application, OmniApp. </p>
      <p><a href="https://github.com/josephpung/project-4" class="black-text"><i class="fa fa-github-square" aria-hidden="true"></i></i> GitHub Page</a></p>
    </div>
  </div>


</div>
