<h3 class='center'><i class="fa fa-code fa-4x" aria-hidden="true"></i></h3>
<br>
<div class="row">
  <div class="col s6 l3">
    <h4 class="lightblue">Languages</h4>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>Javascript</li>
      <li>Ruby</li>
    </ul>
  </div>
  <div class="col s6 l3">
    <h4 class="lightblue">Frameworks</h4>
    <ul>
      <li>jQuery</li>
      <li>Ruby on Rails</li>
      <li>Node.js</li>
      <li>Express</li>
      <li>React</li>
      <li>React Redux</li>
      <li>MaterializeCSS</li>
      <li>Bulma</li>
    </ul>
  </div>
  <div class="col s6 l3">
    <h4 class="lightblue">Database</h4>
    <ul>
      <li>MongoDB</li>
      <li>PostgresQL</li>
    </ul>
  </div>
  <div class="col s6 l3">
    <h4 class="lightblue">Version Control/Others</h4>
    <ul>
      <li>Git</li>
      <li>Passport.js</li>
      <li>Sockets.io</li>
      <li>Heroku</li>
    </ul>
  </div>

</div>
